<a href="https://colab.research.google.com/github/Skannan03/imarticus_project/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
df=pd.read_csv('/content/loan.csv')
df.head()

,TARGET,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12
0,1,N,Y,202500.0,406597.5,24700.5,Working,Secondary / secondary special,Single / not married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
1,0,N,N,270000.0,1293502.5,35698.5,State servant,Higher education,Married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
2,0,Y,Y,67500.0,135000.0,6750.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
3,0,N,Y,135000.0,312682.5,29686.5,Working,Secondary / secondary special,Civil marriage,House / apartment,...,1,0,0,0,0,0,0,0,0,0
4,0,N,Y,121500.0,513000.0,21865.5,Working,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TARGET                       307511 non-null  int64
 1   FLAG_OWN_CAR                 307511 non-null  object
 2   FLAG_OWN_REALTY              307511 non-null  object
 3   AMT_INCOME_TOTAL             307511 non-null  float64
 4   AMT_CREDIT                   307511 non-null  float64
 5   AMT_ANNUITY                  307499 non-null  float64
 6   NAME_INCOME_TYPE             307511 non-null  object
 7   NAME_EDUCATION_TYPE          307511 non-null  object
 8   NAME_FAMILY_STATUS           307511 non-null  object
 9   NAME_HOUSING_TYPE            307511 non-null  object
 10  DAYS_EMPLOYED                307511 non-null  int64
 11  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 12  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 13  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 14  ORGANIZATION_TYPE            307511 non-null  object
 15  FLAG_DOCUMENT_2              307511 non-null  int64
 16  FLAG_DOCUMENT_3              307511 non-null  int64
 17  FLAG_DOCUMENT_4              307511 non-null  int64
 18  FLAG_DOCUMENT_5              307511 non-null  int64
 19  FLAG_DOCUMENT_6              307511 non-null  int64
 20  FLAG_DOCUMENT_7              307511 non-null  int64
 21  FLAG_DOCUMENT_8              307511 non-null  int64
 22  FLAG_DOCUMENT_9              307511 non-null  int64
 23  FLAG_DOCUMENT_10             307511 non-null  int64
 24  FLAG_DOCUMENT_11             307511 non-null  int64
 25  FLAG_DOCUMENT_12             307511 non-null  int64
dtypes: float64(3), int64(16), object(7)
memory usage: 61.0+ MB

In [ ]:
df.isnull().sum()

TARGET                          0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
AMT_INCOME_TOTAL                0
AMT_CREDIT                      0
AMT_ANNUITY                    12
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
DAYS_EMPLOYED                   0
REGION_RATING_CLIENT_W_CITY     0
REG_REGION_NOT_LIVE_REGION      0
REG_REGION_NOT_WORK_REGION      0
ORGANIZATION_TYPE               0
FLAG_DOCUMENT_2                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_9                 0
FLAG_DOCUMENT_10                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_12                0
dtype: int64

In [ ]:
df.describe()

,TARGET,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,DAYS_EMPLOYED,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12
count,307511.000000,3.075110e+05,3.075110e+05,307499.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,0.080729,1.687979e+05,5.990260e+05,27108.573909,63815.045904,2.031521,0.015144,0.050769,0.000042,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007
std,0.272419,2.371231e+05,4.024908e+05,14493.737315,141275.766519,0.502737,0.122126,0.219526,0.006502,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550
min,0.000000,2.565000e+04,4.500000e+04,1615.500000,-17912.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.125000e+05,2.700000e+05,16524.000000,-2760.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.471500e+05,5.135310e+05,24903.000000,-1213.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,2.025000e+05,8.086500e+05,34596.000000,-289.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.170000e+08,4.050000e+06,258025.500000,365243.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.columns

Index(['TARGET', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_EMPLOYED',
       'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'ORGANIZATION_TYPE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12'],
      dtype='object')

In [ ]:
le=LabelEncoder()

In [ ]:
colm_label=['TARGET', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_EMPLOYED',
       'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'ORGANIZATION_TYPE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12']
for i in colm_label:
    df[i]=le.fit_transform(df[i])

In [ ]:
df.head()

,TARGET,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12
0,1,0,1,1754,1191,4588,7,4,3,1,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,2064,4338,6985,4,1,1,1,...,1,0,0,0,0,0,0,0,0,0
2,0,1,1,338,228,662,7,4,3,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,1170,836,5680,7,4,0,1,...,1,0,0,0,0,0,0,0,0,0
4,0,0,1,1019,1635,3960,7,4,3,1,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
df.shape

(307511, 26)

In [ ]:
file='output.csv'
df.to_csv(file,index=False)